*.o
*.out
build/
**/build/
dist/

#Avoid tracking .NET build outputs
**/bin/
**/obj/

#Avoid Tracking dix (a python venv saved in this repo on my windows PC)
dix/
**/venv/
**/env/

#Avoid tracking pycache
**/__pycache__/
**/*.pyc
**/*.pyo




